<div class="table-top">
    <div class="left">
        <h2>Foydalanuvchilar ro'yhati</h2>
    </div>
    <div class="right">
        <!-- <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker> -->
    </div>
</div>

<div class="flex">
    <nz-input-group nzSearch nzSize="large">
        <input
            type="number"
            nz-input
            placeholder="Id..."
            [(ngModel)]="bigint_id"
            (ngModelChange)="onSearchChange($event)"
        />
    </nz-input-group>

    <nz-input-group nzSearch nzSize="large">
        <input
            nz-input
            placeholder="Ism..."
            [(ngModel)]="name"
            (ngModelChange)="onSearchChange($event)"
        />
    </nz-input-group>

    <nz-input-group nzSearch nzSize="large">
        <input
            nz-input
            placeholder="Email..."
            [(ngModel)]="email"
            (ngModelChange)="onSearchChange($event)"
        />
    </nz-input-group>

    <nz-input-group nzSearch nzSize="large">
        <input
            type="number"
            nz-input
            placeholder="Tell..."
            [(ngModel)]="phone"
            (ngModelChange)="onSearchChange($event)"
        />
    </nz-input-group>

    <nz-input-group nzSearch nzSize="large">
        <input
            nz-input
            placeholder="Status..."
            [(ngModel)]="status_type"
            (ngModelChange)="onSearchChange($event)"
        />
    </nz-input-group>
</div>


<app-base-table
  [data]="data()"
  [loading]="data().length ? false : true"
  [columns]="columns"
  [total]="total"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  (onDelete)="delete($event)"
  (onEdit)="edit($event)"
  (queryParamsChange)="loadData($event)"
  [isDelete]="false"
></app-base-table>